/*Couleurs*/
$primaire:#9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


/*Taille de police */
@media (max-width: 640px){
		
	
	body {
		width: auto;
		margin: 0;
		padding: 0;
    }

	.banniere{
		text-align: center;
		padding: 19px 0px 8px;
		.logo{
			width: 170px;
		}
	}
    .info{
			
		.info__form{
			color: #353535;
			background-color: #eaeaea;
			margin-bottom: 0px;
			margin: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			.fa-map-marker-alt{
				margin-right: 10px;
			}
			.info__localisation{
				
				
			}
		}
    	.info__cat{
        	text-align: center;
			background: #f6f6f6;
			padding-top: 20px;
			padding-right:20px;
			padding-bottom: 20px;
			padding-left: 20px;
			height: 300px;
			.info__title{
				margin: 30px 30px 15px 30px;
			}
    	}
		.info__description{
			color: #959595;
		}
		.info__button{
			background:linear-gradient(174deg,$secondaire, $primaire);
			height: 3em;
			color: #FFF;
			border-radius: 40px;
			box-shadow: 2px 3px 4px 1px #bfb8b8;
			border: none;
		}
		
	}
}