@media (max-width: 640px) 
	 {
		box-sizing: border-box;
	}
	
	

	body {
		width: auto;
		margin: 0;
		padding: 0;
    }

	.banniere{
		text-align: center;
		padding: 19px 0px 5px;
		.logo{
			width: 170px;
		}
	}
    .info{
		.info__form{
			background-color: #eaeaea;
			margin-bottom: 0px;
			margin: 0px;
		}
    	.info__cat{
        	text-align: center;
			background: #f6f6f6;
			padding: 5px;
    	}
		.info__description{
			color: #959595;
		}
		.info__button{
			background-color: #e16fda;
		}
		.prout{
			margin: 0px;
		}
	}