/*Couleurs*/
$primaire:#9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;


/*Taille de police */
@media (max-width: 640px){
			
	body {
		width: auto;
		margin: 0;
		padding: 0;
    }

	.banniere{
		text-align: center;
		padding: 19px 0px 8px;
		.logo__hello{
			width: 170px;
		}
	}
    .info{			
		.info__form{
			color: #353535;
			background-color: #eaeaea;
			margin-bottom: 0px;
			margin: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			.fa-map-marker-alt{
				margin-right: 10px;
				}
		}
	
    	.info__cta{
        	text-align: center;
			background: #f6f6f6;
			padding-top: 20px;
			padding-right:20px;
			padding-bottom: 20px;
			padding-left: 20px;
			height: 300px;
			.info__title{
				margin: 30px 30px 15px 30px;
			}
    	}
		.info__description{
			color: #959595;		
		}
		.info__button {
			background:linear-gradient(174deg,$secondaire, $primaire);
			height: 3em;
			color: #FFF;
			border-radius: 40px;
			box-shadow: 2px 3px 4px 1px #bfb8b8;
			border: none;
			&:active {
				opacity: 80%;
				box-shadow:3px 4px 5px 4px #bdb8b86b;
			}
		}
		
	}

	/* SECTION RESTAURANTS */
	.restaurants__list{
		width: 100%;
		padding: 10px;}
		.restaurant{
			height: 300px;
			.restaurant__image{
				padding: 10px;
				width: 40px;
				height: 40%;
			}
			.restaurant__description{
				.restaurant__title{
					color: black;
					font-weight: bold;
					background-color: yellow;
				}
				.restaurant__location{
					color: grey;
				}
				.restaurant_info{
					color: white;
					background-color: $tertiaire;
				}
			}
		}

.ctaitem{
	border: 1px black solid;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
	background-color: #f6f6f6;
	.ctaitem__number{
		border-radius: 50%;
		background-color: $primaire;
	}
	.ctaitem__action{

	}
}
	


}

